
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/


# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.png
*.html
*.dll
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Click-Once directory
publish/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

*.lock
SevenEleven/obj/project.assets.json
SevenEleven/obj/SevenEleven.csproj.nuget.g.props
SevenEleven/obj/SevenEleven.csproj.nuget.cache
SevenEleven/obj/project.assets.json
SevenEleven/obj/Debug/netcoreapp2.1/SevenEleven.pdb
SevenEleven/obj/Debug/netcoreapp2.1/SevenEleven.dll
SevenEleven/obj/Debug/netcoreapp2.1/SevenEleven.csprojAssemblyReference.cache
SevenEleven/obj/SevenEleven.csproj.nuget.g.props
SevenEleven/obj/SevenEleven.csproj.nuget.cache
.vs/BnPFramework/v15/Server/sqlite3/storage.ide-wal
*.ide-wal
.vs/BnPFramework/v15/Server/sqlite3/storage.ide
Bnp.Core/bin/Debug/Bnp.Core.dll
Bnp.Core/bin/Debug/Bnp.Core.pdb
Bnp.Core/bin/Debug/BnpBaseFramework.API.dll
Bnp.Core/bin/Debug/BnpBaseFramework.API.pdb
Bnp.Core/bin/Debug/BnPBaseFramework.Reporting.dll
Bnp.Core/bin/Debug/BnPBaseFramework.Reporting.pdb
Bnp.Core/bin/Debug/BnPFramework.dll
Bnp.Core/bin/Debug/BnPFramework.pdb
Bnp.Core/bin/Debug/RollingFileLogger.log
Bnp.Core/bin/Debug/TestMsTest.log
Bnp.Core/obj/Debug/Bnp.Core.csproj.CoreCompileInputs.cache
Bnp.Core/obj/Debug/Bnp.Core.csproj.FileListAbsolute.txt
Bnp.Core/obj/Debug/Bnp.Core.csprojAssemblyReference.cache
Bnp.Core/obj/Debug/Bnp.Core.dll
Bnp.Core/ResultsExtent
Bnp.Core/obj/Debug/Bnp.Core.pdb
Bnp.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.html
Bnp.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.html
BnpBaseFramework.API/bin/Debug/BnpBaseFramework.API.dll
BnpBaseFramework.API/bin/Debug/BnpBaseFramework.API.pdb
BnpBaseFramework.API/obj/Debug/BnpBaseFramework.API.csproj.CoreCompileInputs.cache
BnpBaseFramework.API/obj/Debug/BnpBaseFramework.API.csproj.FileListAbsolute.txt
BnpBaseFramework.API/obj/Debug/BnpBaseFramework.API.csprojAssemblyReference.cache
BnpBaseFramework.API/obj/Debug/BnpBaseFramework.API.dll
BnpBaseFramework.API/obj/Debug/BnpBaseFramework.API.pdb
BnpBaseFramework.API/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BnPBaseFramework.IO/obj/Debug/BnPBaseFramework.IO.csproj.CoreCompileInputs.cache
BnPBaseFramework.IO/obj/Debug/BnPBaseFramework.IO.csproj.FileListAbsolute.txt
BnPBaseFramework.Reporting/bin/Debug/BnPBaseFramework.Reporting.dll
BnPBaseFramework.Reporting/bin/Debug/BnPBaseFramework.Reporting.pdb
BnPBaseFramework.Reporting/bin/Debug/BnPFramework.dll
BnPBaseFramework.Reporting/bin/Debug/BnPFramework.pdb
BnPBaseFramework.Reporting/obj/Debug/BnPBaseFramework.Reporting.csproj.CoreCompileInputs.cache
BnPBaseFramework.Reporting/obj/Debug/BnPBaseFramework.Reporting.csproj.FileListAbsolute.txt
BnPBaseFramework.Reporting/obj/Debug/BnPBaseFramework.Reporting.csprojAssemblyReference.cache
BnPBaseFramework.Reporting/obj/Debug/BnPBaseFramework.Reporting.dll
BnPBaseFramework.Reporting/obj/Debug/BnPBaseFramework.Reporting.pdb
BnPFramework/bin/Debug/
BnPFramework/bin/Debug/BnPFramework.dll
BnPFramework/bin/Debug/BnPFramework.pdb
BnPFramework/obj/Debug/BnPBaseFramework.Web.csproj.CoreCompileInputs.cache
BnPFramework/obj/Debug/BnPBaseFramework.Web.csproj.FileListAbsolute.txt
BnPFramework/obj/Debug/BnPBaseFramework.Web.csprojAssemblyReference.cache
BnPFramework/obj/Debug/BnPFramework.dll
BnPFramework/obj/Debug/BnPFramework.pdb
BnPAutomation/Bnp.Core/Results
SevenEleven/bin/Debug/netcoreapp2.1/SevenEleven.deps.json
SevenEleven/bin/Debug/netcoreapp2.1/SevenEleven.dll
SevenEleven/bin/Debug/netcoreapp2.1/SevenEleven.pdb
SevenEleven/obj/Debug/netcoreapp2.1/SevenEleven.assets.cache
SevenEleven/obj/Debug/netcoreapp2.1/SevenEleven.csproj.CoreCompileInputs.cache
SevenEleven/obj/Debug/netcoreapp2.1/SevenEleven.csproj.FileListAbsolute.txt
SevenEleven/obj/Debug/netcoreapp2.1/SevenEleven.csprojAssemblyReference.cache
SevenEleven/obj/Debug/netcoreapp2.1/SevenEleven.dll
SevenEleven/obj/Debug/netcoreapp2.1/SevenEleven.pdb
SevenEleven/obj/SevenEleven.csproj.nuget.cache
SevenEleven/obj/SevenEleven.csproj.nuget.g.props
SevenEleven/obj/project.assets.json
/Bnp.Core/bin
*.dat
BnPFramework/bin/Debug/BnPFramework.dll
BnPFramework/bin/Debug/BnPFramework.pdb
Bnp.Core/Bnp.Core.csproj
.vs/BnPFramework/DesignTimeBuild/.dtbcache
.vs/BnPFramework/v15/.suo
.vs/BnPFramework/v15/Server/sqlite3/storage.ide-shm
Bnp.Core/bin/Debug/Bnp.Core.dll.config
Bnp.Core/packages.config
Bnp.Core/Results/BnP_TestReport_20181129183759.html
BnpBaseFramework.API/bin/Debug/BnpBaseFramework.API.dll
BnpBaseFramework.API/bin/Debug/BnpBaseFramework.API.pdb
BnPBaseFramework.IO/bin/Debug/BnPBaseFramework.IO.dll
BnPBaseFramework.IO/bin/Debug/BnPBaseFramework.IO.pdb
BnPBaseFramework.IO/obj/Debug/BnPBaseFramework.IO.csprojAssemblyReference.cache
BnPBaseFramework.IO/obj/Debug/BnPBaseFramework.IO.pdb
BnPFramework/bin/Debug/BnPFramework.dll
BnPFramework/bin/Debug/BnPFramework.pdb
BnPFramework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SevenEleven/bin/Debug/netcoreapp2.1/SevenEleven.deps.json
SevenEleven/bin/Debug/netcoreapp2.1/SevenEleven.dll
SevenEleven/bin/Debug/netcoreapp2.1/SevenEleven.pdb
SevenEleven/bin/Debug/netcoreapp2.1/SevenEleven.runtimeconfig.dev.json
SevenEleven/obj/project.assets.json
SevenEleven/obj/SevenEleven.csproj.nuget.cache
SevenEleven/obj/SevenEleven.csproj.nuget.g.props
/14mar
