<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="FirefoxPreferences" type="System.Configuration.NameValueSectionHandler" />
    <section name="FirefoxExtensions" type="System.Configuration.NameValueSectionHandler" />
    <section name="FirefoxArguments" type="System.Configuration.NameValueSectionHandler" />
    <section name="ChromePreferences" type="System.Configuration.NameValueSectionHandler" />
    <section name="ChromeExtensions" type="System.Configuration.NameValueSectionHandler" />
    <section name="DriverCapabilities" type="System.Configuration.NameValueSectionHandler" />
    <section name="ChromeArguments" type="System.Configuration.NameValueSectionHandler" />
    <section name="InternetExplorerPreferences" type="System.Configuration.NameValueSectionHandler" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>

  <appSettings>
    <!--mandatory keys for Jira-->
    <add key="JiraUser" value="cchavva@brierley.com" />
    <add key="JiraPassword" value="November2020!" />
    <add key="JiraClientID" value="DD85CCC3F66A446AAA9F8CAE2A7340E6" />
    <add key="JiraClientSecret" value="b51c3fbbf2405b4eff5d089947346fd6cf62cef1bfe9d12ba0ed2ef622bca57e" />
    <add key="IsXrayIntegrationRequired" value="true" />
    <!--mandatory keys for Custom reporting and Reporting Dasgboard-->
    <add key="IsDBReportingRequired" value="false" />
    <!--Required to turn off/on DB logging-->
    <add key="JenkinsExecution" value="false" />
    <add key="LibFolder" value="\Bnp.Core\Lib\" />
    <!--mandatory for Get_App_URL and To Generate metadeta in Custom reports-->
    <add key="browser" value="Chrome" />
    <add key="Environment" value="Development" />
    <!--mandatory for Get_App_URL and To Generate metadeta in Custom reports-->
    <add key="Version" value="5.3.0.14" />
    <!--mandatory to Generate metadeta in Custom reports-->
    <add key="TestSuiteName" value="API_SOAP_Regression" />
    <!--mandatory to Generate metadeta in Custom reports-->
    
    <!--Start: Web UI - Navigator configuration settings-->
    <add key="Organization" value="BTA" />
    <!--mandatory for Get_App_URL and To Generate metadeta in Custom reports-->
    <add key="Environment_OrderID" value="1" />
    <add key="ApplicationName" value="LoyaltyNavigator" />
    <!--mandatory to Generate metadeta in Custom reports-->


    <!--<add key="Navigator_url" value="http://tyqawbs08.brierley.com:9900/login.aspx" />-->
    <!--mandatory for Get_App_URL-->
    <add key="QADataURLSEndpoint" value="http://cy2qawbs06.brierley.com:8116/" />
    <!--mandatory for Get_App_URL-->
    <add key="CSPortal" value="CS" />
    <!--mandatory for Get_App_URL-->
    <add key="MemberPortal" value="MP" />
    <!--mandatory for Get_App_URL-->
    <add key="CDIS" value="API" />
    <!--mandatory for Get_App_URL-->
    <add key="REST" value="RST" />
    <!--mandatory for Get_App_URL-->
    <add key="LoyaltyNavigator" value="LN" />
    <!--mandatory for Get_App_URL-->
    <add key="protocol" value="http" />
    <add key="host" value="www.qentelli.com" />

    <!--AttributeSets under Model page-->
    <add key="AttributeSets" value="BTADEVAutoAttributeSet" />
    <add key="Attribute" value="BTADEVAutoChildAttribute" />
    <!--Navigator admin and non-admin users-->
    <!--<add key="bpadmin" value="bpadmin" />
    <add key="Navigator_password" value="Password1*" /> 
    <add key="LWAdminUser" value="BTAADMIN" />
    <add key="KeyAdminUser" value="BTAKEYADMIN" />
    <add key="DBAAdminUser" value="BTADBAADMIN" />
    <add key="WebAdminUser" value="BTAWEBADMIN" />
    <add key="UserWithAllRoles" value="BTAUSER_DEV" />-->

    <!--<add key="CSPortalName" value="BTA_Dev_CS" />
    <add key="MemberPortalName" value="BTA_Dev_MP" />-->
    <add key="AttributeAllContentType" value="AutoAttributeSet" />
    <add key="AutoBonusCategory" value="AutoBonusCategory" />
    <add key="AutoCouponCategory" value="AutoCouponCategory" />
    <add key="AutoProductCategory" value="AutoProductCategory" />
    <add key="MessageName" value="AutoMessage" />

    <add key="ConfigFileUploadPath" value="\\Tyqawbs08\wwwroot\loyaltywareBTA\Config" />
    <add key="DBName" value="FrameWorkDB" />
    <add key="DataBasesType" value="PostgreSQL" />
    <add key="DBUserID" value="Test" />
    <add key="DBPassword" value="Password1*" />
    <add key="DBDefaultSchema" value="Development" />
    <add key="Server" value="Test_server" />
    <add key="Database" value="Test_DB" />

    <!--<add key="SMSMessageName" value="AutoSMS" />
    <add key="SMS_DMCCode" value="3000164018" />
    <add key="MailingName" value="AutoEMAIL" />
    <add key="Email_DMCCode" value="3000182200" />-->

    <add key="ConnectionProps" value="Test_DB" />
    <add key="DmcUrl" value="https://ssla.teradatadmc.com/brierley_chevron/api/rest/v5" />
    <add key="DmcUsername" value="dmc-cvxapiuser@brierley.com" />
    <add key="DmcPassword" value="Loyaltycvx#1" />
    <add key="LWEmailProvider" value="DMC" />
    <add key="LoyaltyCurrencyAsPayment DefaultCurrency" value="USD" />
    <!--End: Web UI - Navigator configuration settings-->

    <!--Start: Web UI - CS Portal configuration settings-->
    <!--<add key="CSPortal_url" value="http://tyqawbs08.brierley.com:9666/Login.aspx" />-->
    <add key="CSPortal_EndPoint" value="tyqawbs08.brierley.com:9666" />
    <add key="BTA_DEV_CS_LogPath" value="\\Tyqawbs08\wwwroot\loyaltywareBTA\Logs\BTA_Dev_CS.log" />

    <add key="csadmin" value="csadmin" />
    <add key="csadmin_password" value="csadmin" />
    <!--Role Name-->
    <add key="AdminRole" value="Admin" />
    <add key="SrAdminRole" value="SrAdmin" />
    <add key="JrAdminRole" value="JrAdmin" />
    <add key="AdminRole_PointAwardLimit" value="200" />
    <add key="SrAdminRole_PointAwardLimit" value="100" />
    <add key="JrAdminRole_PointAwardLimit" value="50" />
    <!--Agent Name-->
    <add key="AdminAgent" value="Admin_Agent" />
    <add key="SrAdminAgent" value="SrAdmin_Agent" />
    <add key="JrAdminAgent" value="JrAdmin_Agent" />
    <add key="ChangePasswordTestAgent" value="ChangePasswordTestAgent" />
    <add key="ForgotPasswordTestAgent" value="ForgotPasswordTestAgent" />
    <add key="Agent_password" value="Password1*" />
    <add key="Rule" value="1"></add>

    <!--End: Web UI - CS Portal configuration settings-->

    <!--DB Date Range for Orphan-->
    <add key="DBDateRange" value="08-DEC-18 12.00" />
    <!--End: DB Date Range for Orphan-->

    <!--Start: Web UI - Member Portal configuration settings-->
    <!--<add key="MemberPortal_url" value="http://tyqawbs08.brierley.com:9912/Login.aspx" />-->
    <add key="MPPortal_EndPoint" value="tyqawbs08.brierley.com:9912" />

    <add key="MP_username" value="CDIS_LGLLEF_LYNN" />
    <add key="MP_password" value="Password1*" />
    <add key="RewardName" value="EarnRewardIfPointsIs100" />
    <add key="ForgotPasswordTestMember" value="ForgotPasswordTestMember1" />
    <add key="BTA_DEV_MP_LogPath" value="\\Tyqawbs08\wwwroot\loyaltywareBTA\Logs\BTA_Dev_MP.log" />
    <!--End: Web UI -  Member Portal configuration settings-->

    <!--<add key="browser" value="Safari" />-->

    <!--<add key="browser" value="InternetExplorer" />-->
    <!--<add key="browser" value="Firefox" />-->
    <!--<add key="browser" value="Firefox" />-->
    <!--<add key="browser" value="FirefoxPortable" />-->
    <!--<add key="browser" value="RemoteWebDriver" />-->
    <!--<add key="FirefoxUseLegacyImplementation" value="false"/>
    <add key="FireFoxPath" value="\..\..\..\FirefoxPortable\FirefoxPortable.exe"/>
    <add key="RemoteWebDriverHub" value="http://localhost:4444/wd/hub"/>
    <add key="DriverCapabilities" value="Firefox"/>-->
    <!--<add key="proxy" value="127.0.0.1:9999" />-->
    <!--nlog trace level must be set to "trace" for at least one logger to see EventFiringWebDriver logs-->
    <!--<add key="EnableEventFiringWebDriver" value="false"/>-->
    <!--Timeouts-->
    <add key="longTimeout" value="30" />
    <add key="mediumTimeout" value="10" />
    <add key="shortTimeout" value="3" />
    <add key="ImplicitlyWaitMilliseconds" value="200" />
    <!--Enable or disable synchronization with AngularJS-->
    <!--<add key="SynchronizationWithAngularEnabled" value="false"/>-->
    <!--User credentials-->
    <add key="username" value="null" />
    <add key="password" value="null" />
    <!--Downloaded files, screenshots and page source location-->
    <add key="UseCurrentDirectory" value="true" />
    <add key="DownloadFolder" value="\TestOutput" />
    <add key="ScreenShotFolder" value="\TestOutput" />
    <add key="PageSourceFolder" value="\TestOutput" />

    <!--Screenshots and logging-->
    <add key="FullDesktopScreenShotEnabled" value="true" />
    <add key="SeleniumScreenShotEnabled" value="true" />
    <add key="GetPageSourceEnabled" value="true" />
    <add key="JavaScriptErrorLogging" value="true" />
    <!--JavaScript errors type to be search on browser logs-->
    <add key="JavaScriptErrorTypes" value="SyntaxError,EvalError,ReferenceError,RangeError,TypeError,URIError,Refused to display,Internal Server Error,Cannot read property" />
    <!--Use default firefox profile?-->
    <add key="UseDefaultFirefoxProfile" value="false" />
    <add key="PathToFirefoxProfile" value="C:\Users\ci_objectivity\AppData\Roaming\Mozilla\Firefox\Profiles" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--below are API configuration settings-->
    <add key="BaseSoapURL" value="http://www.webservicex.net/stockquote.asmx?op=GetQuote" />
    <add key="BaseRestURL" value="https://10.4.11.78:8443/lod-contelli/api/v1/" />
    <add key="BaseWSDLURL" value="http://www.thomas-bayer.com/axis2/service/BLZService?wsdl" />
    <add key="ServType" value="0" />

    <!--restapi client keys-->
    <add key="clientId" value="116eb1e753aa4cafbe382bf2359f3a8f" />
    <add key="clientSecret" value="231bbc92870c417f925d52cea3e3a03d" />
    <!-- End of restapi client keys-->

    <!--soap required configurations-->
    <add key="SoapServiceURL" value="http://tyqawbs08.brierley.com:9913/LWIntgrService.svc"></add>

    <!--GetServiceInfoOut-->
    <add key="Organization" value="BTA" />
    <add key="Environment" value="Development" />
    <add key="LoyaltyWareAssemblyVersion" value="5.3.0.32" />
    <add key="LoyaltyWareSchemaVersion" value="5.3.0.32" />
    <add key="CDISAssemblyVersion" value="5.3.0.32" />

    <!--End of soap required configurations-->


    <!--End of API configurations-->

    <!--End of API configurations-->

    <!--File processing: File processing required configurations-->
    <add key="JsonSchema" value="\\tyfps01\DA-Common\QA\Qentilli\FileProcessing" />
    <add key="GenerateClientAssembly" value="\\tyfps01\DA-Common\QA\Qentilli\5.2.0.12\Release\Templates\CustomerDataServiceConfig.xml" />
    <add key="EnrollmntFilePth" value="\\tyfps01\DA-Common\QA\Qentilli\FileProcessing\Enrollment\Enrollment_InputTextFiles" />
    <add key="StoreFilePth" value="\\tyfps01\DA-Common\QA\Qentilli\FileProcessing\Stores\Stores_InputTextFiles" />
    <add key="TLogFilePth" value="\\tyfps01\DA-Common\QA\Qentilli\FileProcessing\TLOG\TLog_InputTextFiles" />
    <add key="ProjectPath" value="\\tyfps01\DA-Common\QA\Qentilli\FileProcessing\BnPAutomation\BnPBaseFramework.IO" />
    <add key="StoresPushD" value="\DAPStuff\Brierley.DataAcquisition\DAPConsole " />
    <add key="StoresConfig" value="\DAPStuff\DAPStoresFileConfig.xml" />
    <add key="StoresFileName" value="\DAPStuff\Stores.txt" />
    <add key="TLogPushD" value="\DAPStuff\Brierley.DataAcquisition\DAPConsole " />
    <add key="TLogConfig" value="\DAPStuff\DAPTlogFileConfig.xml" />
    <add key="TLogFileName" value="\DAPStuff\Tlog.txt" />
    <add key="QADBSchema" value="automation" />
    <add key="StoreTable" value="lw_storedef" />
    <add key="MemberTable" value="lw_loyaltymember" />
    <add key="TLogHeadrTable" value="ATS_TXNHEADER" />
    <add key="TLogLineItmTable" value="ATS_TXNDETAILITEM" />
    <add key="LibMSGLog" value="lw_libmessagelog" />
    <add key="LibJob" value="lw_libjob" />
    <add key="StoreTextFile" value="\\DAPStuff\Store\Stores.txt" />
    <add key="LibJob" value="lw_libjob" />
    <add key="UsrName" value="OE_2" />

    <add key="OracleConn" value="Data Source=(DESCRIPTION=(ENABLE=BROKEN)(ADDRESS=(PROTOCOL=TCP)(HOST=tytora-n01.brierley.com)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=BPQA01)));User ID=OE_2;Password=QaR0ck$;" />
    <add key="PLSQLConn" value="Server=10.4.10.31;Port=5432;Database=qa_automation;User Id=bta_dev;Password=Aut0*13Q;Timeout=1024;" />
    <!--End of File processing: File processing required configurations-->

    <!--dbconnection string-->
    <add key="DbConStringSOAP" value="Data Source=(DESCRIPTION=(ENABLE=BROKEN)(ADDRESS=(PROTOCOL=TCP)(HOST=tytora-n01.brierley.com)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=BPQA01)));User ID=OE_2;Password=QaR0ck$;" />

    <add key="DbConStringREST" value="Data Source=(DESCRIPTION=(ENABLE=BROKEN)(ADDRESS=(PROTOCOL=TCP)(HOST=tytora-n01.brierley.com)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=BPQA01)));User ID=OE_2;Password=QaR0ck$;" />

    <add key="DbConStringQA" value="Data Source=(DESCRIPTION=(ENABLE=BROKEN)(ADDRESS=(PROTOCOL=TCP)(HOST=tytora-n01.brierley.com)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=BPQA01)));User ID=OE_3;Password=QaR0ck$;" />

    <!--end of dbconnection string-->
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}\TestMsTest.log" layout="${longdate}|${level}|${callsite}|${message}" />
      <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${callsite}|${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
  </nlog>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>